<style>
body{
margin-top: 80px; 
}
</style>

<div ng-controller="AuthenticationCtrl as x">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Login </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-offset-3 col-md-12">
                <form>
                  <div class="form-group col-md-6">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" ng-model="x.email" id="e05">
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-3 col-md-12">
                <form>
                  <div class="form-group col-md-6">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" ng-model="x.senha" id="s06">
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="panel-footer text-right">
            <div class="row">
              <div class="col-md-3">
              </div>
            </div>
            <button type="button" class="btn btn-primary"
            name="button" id="esqueciasenha">Esqueci a Senha</button>
            <button type="button" class="btn btn-success" ng-click="x.autenticar()"
            name="button" id="login">Entrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
