<style>
body{
margin-top: 80px;
}
</style>
    <div class="row" ng-controller="ServiceCtrl as x">
      <div class="col-md-offset-3 col-md-6">
        <form>
          <div class="panel panel-default">
          <div class="panel-heading" style="font-size:20px">Reserva</div>
          <div class="panel-body">
          <div class="form-group col-md-5">
            <label for="name" style="color:black" ng-model="x.date">Data</label>
            <input type="date" class="form-control">
          </div>
        </form>
        <form>
          <div class="form-group col-md-5">
            <label for="name" style = "color:black">Horário</label>
            <input type="time" class = "form-control">
          </div>
        </form>
        <form>
          <div class="form-group col-md-5">
            <label for="name" style = "color:black" ng-model="x.tipoReserva">Tipo de reserva</label>
            <select type = "text" class="form-control">
              <option>Sala</option>
              <option>Auditório</option>
              <option>Laboratório</option>
            </select>
          </div>
        </form>
        <form>
          <div class="form-group col-md-5">
            <label for="name" style = "color:black">Plano</label>
            <select type = "text" class="form-control" ng-model="x.plano">
              <option>1 dia - 50,00 R$</option>
              <option>1 semana - 200,00 R$</option>
              <option>1 mês - 500,00 R$</option>
              <option>1 ano - 3000,00 R$</option>
            </select>
          </div>
        </form>
        <div class= "col-md-offset-7 col-md-3">
          <br></br>
            <button type="button" class="btn btn-success pull-right" name="button"
             ng-click="x.registrarReserva()">Reservar</button>
        </div>
      </div>
    </div>
  </div>
